 body { font-family: sans-serif; line-height: 1.6; margin: 0; padding: 0; }
        header, footer { background: #dc5454; color: rgb(255, 255, 255); padding: 1rem; text-align: center; }
        nav a { color: white; margin: 0 10px; text-decoration: none; }
        main { max-width: 800px; margin: 20px auto; padding: 0 20px; }
        article { margin-bottom: 40px; }
        aside { background: #ed9f9f; padding: 15px; margin-top: 20px; border-left: 4px solid #dc5454; color: #fbecec; }
        figure { text-align: center; background: #ed9f9f; padding: 10px; margin: 20px 0;}
        figcaption { font-size: 0.9rem; color: #fbecec; }
        mark {background-color: #fbecec;}
        h1 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        #noticia {
            color: #dc5454
        }
        .subtitulos {
            color:#e57a7a ;
        }
        #footer {
            opacity: 0.8;
        }
        .curiosidades {
            color: #dc5454;
        }
        #summary {
            color: #e57a7a;
        }
        
        #botao {
            background-color: #dc5454; color: white;
        }